:root{
	--red: red;
	--lightblack: #141414;
	--green: #06a77d;
	--yellow: #d5c67a;
	--black: black;
	
	}
body{
	color: var(--red);
	background: var(--lightblack)
	}
.navbar{
	background: var(--red);
	}
.card{
	background: var(--green);
	border: 3px solid var(--yellow);
	}
.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	}
.hidden {
	display: none;
	}
.movie-container {
	display: flex;
	justify-content: center;
	margin: 15px auto;
	}
.movie-columns {
	display: flex;
	justify-content: center;
	margin: 15px auto;
	}
	
.navbar-brand {
	font-weight: bold;
	font-size: 24px;
	}
	
.btn-success {
	color: black;
}



